.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.slider-container {
  position: relative;
  width: 90%;
  max-width: 800px; 
  overflow: hidden; 
}

.slider-image {
  width: 100%; 
  border-radius: 10px;

}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: beige;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover, .next-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
